.header{
    background: linear-gradient(to left,  var(--header-color-1), var(--header-color-2), var(--header-color-3)) ;
    width: 100vw;
    height: 10rem;
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 0;
    top: 0;
  

    &__container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: .6rem 1rem;
        
        position: relative;
        z-index: 0;
    }

    &__input{
      
      height: 2rem;
      border-radius: 1rem;
      color: var(--input-color);
      border: black;
      background-color: var(--input-back-color);
      outline: 0;
      position: relative;
      right: -40rem;
      padding: .5rem;
      cursor: pointer;
      font-size: 1.2rem;

      &::placeholder {
        font-size: 1.2rem;
        color: var(--input-color);
      }
    }
    }

    img{
        width: 5rem;
        margin-left: 7rem;
    }

    h1{
        font-size: 4rem;
        margin-left: 1rem;
        font-family: var(--title-font);
    }